/*estilos generales*/
:root {
    --color-1:#44194a;
    --color-2: #ba5a9f;
    --color-3: #e1ff00;
    --color-4: #fbffe0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    background-color: black;
}

/*estilos del nav*/
nav a {
    text-decoration: none;
    color: white;
}
nav a:hover {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-2);
}
nav li {
    font-size: 20px;
    margin: 1rem;
    list-style: none;
    height: 3rem;
    width: 10rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
}

/*estilos portada (el resto del header)*/
.portada {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

h1 { /*bloque nombre*/
    color: black;
    font: normal 140px Varela Round, sans-serif;
    height: 15rem;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    animation: mover linear 3000ms infinite;
    flex-basis: 100%;
}

header h1 span { /*apellido*/
    display: block;
    font-size: 40px;
}

@keyframes mover { /*animacion nombre*/
    0% {
      text-shadow:
        3px -3px 0 rgb(132, 74, 145), 
        2px -2px 0 rgb(132, 74, 145), 
        1px -1px 0 rgb(132, 74, 145), 
        0px 0px 0 rgb(132, 74, 145),
        -3px 3px 0 rgb(176, 36, 136), 
        -3px 3px 0 rgb(176, 36, 136), 
        -2px 2px 0 rgb(176, 36, 136), 
        -1px 1px 0 rgb(176, 36, 136);
    }
    25% {    
      text-shadow:      
        -3px -3px 0 rgb(176, 36, 136), 
        -2px -2px 0 rgb(176, 36, 136), 
        -1px -1px 0 rgb(176, 36, 136), 
        0px 0px 0 rgb(176, 36, 136),
        3px 3px 0 rgb(132, 74, 145), 
        2px 2px 0 rgb(132, 74, 145), 
        1px 1px 0 rgb(132, 74, 145), 
        0px 0px 0 rgb(132, 74, 145);
    }
    50% {
      text-shadow:
        -3px 3px 0 rgb(132, 74, 145), 
        -2px 2px 0 rgb(132, 74, 145), 
        -1px 1px 0 rgb(132, 74, 145), 
        0px 0px 0 rgb(132, 74, 145),
        3px -3px 0 rgb(176, 36, 136), 
        2px -2px 0 rgb(176, 36, 136), 
        1px -1px 0 rgb(176, 36, 136), 
        0px 0px 0 rgb(176, 36, 136)
      ;
    }
    75% {
      text-shadow:
        3px 3px 0 rgb(176, 36, 136), 
        2px 2px 0 rgb(176, 36, 136), 
        1px 1px 0 rgb(176, 36, 136), 
        0px 0px 0 rgb(176, 36, 136),
        -3px -3px 0 rgb(132, 74, 145), 
        -2px -2px 0 rgb(132, 74, 145), 
        -1px -1px 0 rgb(132, 74, 145), 
        0px 0px 0 rgb(132, 74, 145);
    }
    100% {
      text-shadow:
        3px -3px 0 rgb(132, 74, 145), 
        2px -2px 0 rgb(132, 74, 145), 
        1px -1px 0 rgb(132, 74, 145), 
        0px -0px 0 rgb(132, 74, 145),
        -3px 3px 0 rgb(176, 36, 136), 
        -2px 2px 0 rgb(176, 36, 136), 
        -1px 1px 0 rgb(176, 36, 136), 
        0px 0px 0 rgb(176, 36, 136);
    }  
  }

header img { /*imagen de la portada index*/
    max-width: 400px;
    clip-path: polygon(25% 42%, 0 26%, 12% 0, 49% 17%, 70% 2%, 74% 21%, 100% 35%, 87% 69%, 100% 100%, 42% 74%, 13% 100%, 0 70%);

}

.portada quote { /*frase de la portada index*/
    color: var(--color-4);
    background-color: var(--color-1);
    max-width: 25rem;
    flex-basis: 50%;
    padding: 3rem;
    clip-path: polygon(1% 24%, 99% 26%, 99% 75%, 14% 77%, 0 100%, 7% 76%, 1% 75%);
}


/*section index*/
section {
    color: var(--color-4);
    text-align: center;
 }

section hr {
    width: 60%;
    margin: auto;
    color: var(--color-2);
    box-shadow: var(--color-2) 0px 0px 30px;
}

section h3 {
    font-size: 4rem;
    font-weight: 300;
    color: var(--color-3);
}

.resumen {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem 0;
    line-height: 2.5rem;
}

.resumen img {
    max-width: 20rem;
    flex-basis: 60%;
    border: 2px dashed var(--color-2);
}

.resumen p:first-of-type {
    clip-path: polygon(8% 4%, 24% 7%, 49% 0, 72% 10%, 95% 0, 100% 47%, 97% 100%, 79% 92%, 57% 100%, 24% 95%, 5% 100%, 0 51%);
}

.resumen p {
    flex-basis: 40%;
    max-width: 35rem;
    font-size: 20px;
    background-color: var(--color-1);
    padding: 3rem;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
/*footer*/
footer {
    color: var(--color-2);
    text-align: center;
    margin: 1rem;
}

/*medias*/
@media only screen and (max-width: 1100px) {

    .resumen p {
        clip-path: none;
    }
    
    .resumen {
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        margin: 2rem;
        gap: 5rem;
    }
}

@media only screen and (min-width: 1730px) {
    .resumen {
        flex-wrap: nowrap;
        gap: 5rem;
    }
}