/*estilos generales*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
:root {
    --color-1:#44194a;
    --color-2: #ba5a9f;
    --color-3: #e1ff00;
    --color-4: #f0ff8d;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: black;
}

/*estilos del nav*/
nav li a {
    text-decoration: none;
    color: var(--color-1);
    padding: 0 1rem;
}
nav li:hover {
    transition: 0.3s;
    border: 1px solid var(--color-1);
    background-color: var(--color-1);
    animation: aaa 1s infinite;
}
nav li a:hover {
    color: var(--color-4);
}
@keyframes aaa { /*animacion del nav*/
    0% {
        box-shadow: var(--color-3) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }
    100%{
        box-shadow: var(--color-3) 0px 0px, rgba(240, 46, 170, 0.3) 5px 5px, rgba(240, 46, 170, 0.2) 10px 10px, rgba(240, 46, 170, 0.1) 15px 15px, rgba(240, 46, 170, 0.05) 20px 20px;

    }
}
nav li {
    border: 1px solid var(--color-3);
    font-size: 20px;
    margin: 1rem;
    list-style: none;
    text-align: center;
    background-color: var(--color-3);
    box-shadow: var(--color-3) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

/*estilos portada (el resto del header)*/
.portada {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

h1 { /*bloque nombre*/
    color: black;
    font: normal 140px Varela Round, sans-serif;
    height: 15rem;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    animation: mover linear 3000ms infinite;
    flex-basis: 100%;
}
header h1 span { /*apellido*/
    display: block;
    font-size: 40px;
}

@keyframes mover { /*animacion nombre*/
    0% {
      text-shadow:
        3px -3px 0 var(--color-1), 
        2px -2px 0 var(--color-1), 
        1px -1px 0 var(--color-1), 
        0px 0px 0 var(--color-1),
        -3px 3px 0  var(--color-3), 
        -3px 3px 0 var(--color-3), 
        -2px 2px 0  var(--color-3), 
        -1px 1px 0  var(--color-3);
    }
    25% {    
      text-shadow:      
        -3px -3px 0 var(--color-3), 
        -2px -2px 0 var(--color-3), 
        -1px -1px 0 var(--color-3), 
        0px 0px 0 var(--color-3),
        3px 3px 0 var(--color-1), 
        2px 2px 0 var(--color-1), 
        1px 1px 0 var(--color-1), 
        0px 0px 0 var(--color-1);
    }
    50% {
      text-shadow:
        -3px 3px 0 var(--color-1), 
        -2px 2px 0 var(--color-1), 
        -1px 1px 0 var(--color-1), 
        0px 0px 0 var(--color-1),
        3px -3px 0 var(--color-2), 
        2px -2px 0 var(--color-2), 
        1px -1px 0 var(--color-2), 
        0px 0px 0 var(--color-2);
    }
    75% {
      text-shadow:
        3px 3px 0 var(--color-3), 
        2px 2px 0 var(--color-3), 
        1px 1px 0 var(--color-3), 
        0px 0px 0 var(--color-3),
        -3px -3px 0 var(--color-1), 
        -2px -2px 0 var(--color-1), 
        -1px -1px 0 var(--color-1), 
        0px 0px 0 var(--color-1);
    }
    100% {
      text-shadow:
        3px -3px 0 var(--color-1), 
        2px -2px 0 var(--color-1), 
        1px -1px 0 var(--color-1), 
        0px -0px 0 var(--color-1),
        -3px 3px 0 var(--color-2), 
        -2px 2px 0 var(--color-2), 
        -1px 1px 0 var(--color-2), 
        0px 0px 0 var(--color-2);
    }  
  }

header img { /*imagen de la portada index*/
    max-width: 400px;
    clip-path: polygon(25% 42%, 0 26%, 12% 0, 49% 17%, 70% 2%, 74% 21%, 100% 35%, 87% 69%, 100% 100%, 42% 74%, 13% 100%, 0 70%);

}

.portada p { /*frase de la portada index*/
    color: var(--color-1);
    background-color: var(--color-3);
    max-width: 25rem;
    flex-basis: 50%;
    padding: 3rem;
    clip-path: polygon(1% 24%, 99% 26%, 99% 75%, 14% 77%, 0 100%, 7% 76%, 1% 75%);
}


/*section index*/
section {
    color: var(--color-4);
    text-align: center;
 }

section hr {
    width: 60%;
    margin: auto;
    color: var(--color-2);
    box-shadow: var(--color-4) 0px 0px 30px;
}

section h3 {
    font-size: 4rem;
    font-weight: 300;
    color: var(--color-3);
    text-shadow: var(--color-1) 10px 0;
}

.resumen {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem 0;
    line-height: 2.5rem;
}

.resumen img {
    max-width: 20rem;
    flex-basis: 60%;
    border: 2px dashed var(--color-2);
}

.resumen p:first-of-type {
    color: var(--color-4);
    box-shadow: none;
    clip-path: polygon(8% 4%, 24% 7%, 49% 0, 72% 10%, 95% 0, 100% 47%, 97% 100%, 79% 92%, 57% 100%, 24% 95%, 5% 100%, 0 51%);
}

.resumen p {
    flex-basis: 40%;
    max-width: 35rem;
    font-size: 20px;
    background-color: var(--color-1);
    padding: 3rem;
    margin: 2.5rem;
    box-shadow: var(--color-3) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
/*footer*/
footer {
    color: var(--color-2);
    text-align: center;
    margin: 5rem 1rem 1rem 1rem;
}

/*estilos especiales pagina "vida" (selector article reservado para esta pagina)*/
#vida {
    width: 50rem;
    margin: auto;
    display: none;
}
#vida:target {
    display: block;
  }

#vida:not(:target) {
    display: none;
}

#vida p {
    font-size: 20px;
    margin: 3rem;
}

#vida img {
    width: 30%;
    height: 30%;
}
article h3 {
    font-size: 24px;
    margin: 1rem 0 -1rem 0;
}
article ul {
    border-top: 0.5rem solid var(--color-2);
    text-align: center;
    height: 10rem;
    width: 50%;
    margin: 3rem auto auto auto;
}

article li {
    color: var(--color-4);
    margin: 1rem auto;
    width: 4rem;
    display: inline-block;
    list-style: none;
}

article li p {
    display: none;
    position: absolute;
    width: 20rem;
    border: 1px solid var(--color-2);
    margin: 1rem 1rem 1rem -8rem;
    padding: 0.5rem;
    color: var(--color-4);
    background-color: var(--color-1);
}
article li time:hover + p {
    display: block;
    transition: 0.3s;
}
article li time:hover {
    color: var(--color-2);
    cursor: pointer;
    transition: 0.3s;
}

article span {
    background-color: var(--color-3);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    display: inline-block;
    margin-top: -1.75rem;
    margin-left: -0.5rem;
    position: absolute;
}
.boton {
    all: unset;
    margin-top: 5rem;
}
.boton {
    background-color: var(--color-2);
    color: var(--color-1);
    border: 2px solid var(--color-4);
    cursor: pointer;
    padding: 1rem;
    text-decoration: none;
    font-weight: 600;
}

.boton:hover {
        background-color: rgb(255, 151, 226);
        box-shadow: 4px 4px 0 var(--color-3);
        transition: 0.3s;
}

/*estilos especiales página de "pensamiento*/
#contenido_p {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 3rem auto;
    line-height: 1.5rem;
}
#contenido_p p:first-child {
    background-color: var(--color-1);
    color: var(--color-4);
    height: auto;
    box-shadow: none;
    border-bottom: none;
}
#contenido_p p {
    color: var(--color-2);
    padding: 1rem;
    border-bottom: 1rem solid var(--color-2);
    margin: auto;
}
h6 {
    font-size: 16px;
    font-weight: 300;
    background-color: var(--color-4);
    border-left: .5rem solid var(--color-2);
    width: 70%;
    margin: 2rem auto;
    padding: 0.5rem;
    color: var(--color-1);
    border-bottom: none;
}

#contenido_p img {
    height: auto;
    width: 40%;
    margin: 1rem;
}

#contenido_p div:first-of-type {
    flex-basis: 100%;
}
.pensamientos h5 {
    font-size: 20px;
    height: auto;
    padding: 1rem;;
    background-color: var(--color-1);
    box-shadow: var(--color-3) 0 5px, rgba(240, 46, 170, 0.3) 0 10px, rgba(240, 46, 170, 0.2) 0 15px, rgba(240, 46, 170, 0.1) 0 20px, rgba(240, 46, 170, 0.05) 0 25px;
    margin-bottom: 1rem;
}

.pensamientos {
    width: 30rem;
    flex-basis: 50%;
}

.pensamientos h5:first-child {
    margin-right: 1rem;
}
.pensamientos h5 a{
    text-decoration: none;
    color: var(--color-4);
}
.pensamientos h5 a:hover {
    color: var(--color-2);
    transform:scale(1.5);
    transition: .3s;
}
/*estilos especiales de la página "obras"*/
#obras {
   width: 80%;
   margin: auto;
}
.tipos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.tipos h4 {
    flex-basis: 100%;
    margin: 2rem;
    padding: 1rem;
    color: var(--color-4);
    font-size: 24px;
    background-color: var(--color-1);
    border-bottom: 5px solid var(--color-3);
}
.obra {
    width: 16rem;
    height: 29rem;
    border: 1px solid var(--color-4);
    padding: 1rem;
    flex-direction: row;
    margin: 1rem auto;
    line-height: 1.5rem;
    background-color: var(--color-1);
}
.obra p {
    margin: .5rem;
    font-size: 14px;
}
.obra p b {
    font-size: 18px;
    border-bottom: 1px solid var(--color-4);
}
.obra img {
    width: 7rem;
}

/*-----media queries-----*/
@media only screen and (max-width: 1100px) {

    nav ul {
        display: flex;
        justify-content:center;
        margin: 2rem;
    }

    .resumen p {
        clip-path: none;
    }
    
    .resumen {
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        margin: 2rem;
        gap: 5rem;
    }

    article ul {
        height: auto;
        border-top: none;
        border-left: 0.5rem solid var(--color-2);

    }
    article li {
        display: inline;
        margin: 0;
    }
    article li p {
        display: block;
        margin: 0 0 2rem 0;
        height: auto;
        width: auto;
        position: relative;
    }
    
    article li time {
        border: 2px solid var(--color-4);
        padding: .5rem;
        background-color: var(--color-1);
        position: relative;
    }
    article span {
        display: none;
    }

    article li time:hover {
            color: inherit;
            cursor: auto;
            transition:none;
        }

    #vida {
        width: auto;
    }

    #contenido_p {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    #contenido_p p {
        margin: 1rem;
    }
    #contenido_p img {
        width: 80%;
    }


}



@media only screen and (min-width: 1730px) {
    .resumen {
        gap: 5rem;
    }

    .resumen p:first-of-type {
        margin: 0;
    }
    article li {
        width: 7rem;
    }
}

@media only screen and (max-width: 570px) {
    h1 {
        font-size: 30px;
        height: auto;
    }

    header img {
        height: 21rem;
        width: auto;
    }
    section h3 {
        font-size: 26px;
    }

    nav ul {
        flex-direction: column;
    }

    .resumen p:first-of-type {
        clip-path: none;
    }

    .resumen p {
        font-size: 18px;
        padding: 1rem;
    }
    .pensamientos {
       width: auto;
    }
}